/* COLOR VARIABLES */
/*### Primary ####*/
/*### Neutral ###*/
/*### Background ###*/
/* FONT VARIABLES */
/* Intial animation for the Circle */
@-webkit-keyframes init-circle-paper {
  0% {
    -webkit-transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}
@keyframes init-circle-paper {
  0% {
    -webkit-transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@-webkit-keyframes init-circle-scissors {
  0% {
    -webkit-transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@keyframes init-circle-scissors {
  0% {
    -webkit-transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@-webkit-keyframes init-circle-rock {
  0% {
    -webkit-transform: translateY(-145px) scale(0.1) rotate(360deg);
            transform: translateY(-145px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@keyframes init-circle-rock {
  0% {
    -webkit-transform: translateY(-145px) scale(0.1) rotate(360deg);
            transform: translateY(-145px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

/* End of Intial animation for the Circle */
/* Image animation for the Circle */
@-webkit-keyframes img-animation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}
@keyframes img-animation {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

/* End of Image animation for the Circle */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: radial-gradient(circle, #1f3756, #141539);
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreboard {
  text-transform: uppercase;
  margin: 5.2rem 0 0 1rem;
  border-radius: 1.8rem;
  border: 0.4rem solid #606e85;
  width: 78.7rem;
  height: 17.2rem;
  padding: 0 2.5rem 0 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreboard__list {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.scoreboard__list__items {
  color: #fff;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 3.6rem;
}

.scoreboard__score-display {
  background-color: #fff;
  width: 16.8rem;
  height: 12.8rem;
  border-radius: .86rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.7rem 0 0 .4rem;
}

.scoreboard__score-display__text {
  letter-spacing: .17rem;
  font-size: 2rem;
  text-align: center;
  color: #2a46c0;
}

.scoreboard__score-display__text span {
  display: block;
  font-size: 7rem;
  color: #3b4363;
  margin-top: -.8rem;
}

.main-game {
  padding: 5rem 0 30rem 0;
}

.main-game__container {
  position: relative;
}

.main-game__triangle {
  width: 32rem;
  height: 30rem;
  margin: 12rem 0 0 1rem;
}

.main-game__circle-paper {
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 2rem;
  left: -9.5rem;
  border: 2.4rem solid #5671f5;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #2945C1;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #2945C1;
  -webkit-animation: init-circle-paper .6s;
          animation: init-circle-paper .6s;
}

.main-game__circle-paper:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-game__circle-paper__paper-img {
  margin: 1rem .4rem 0 0;
  width: 7.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-game__circle-paper:hover .main-game__circle-paper__paper-img {
  -webkit-animation: img-animation 1s alternate infinite;
          animation: img-animation 1s alternate infinite;
}

.main-game__circle-scissors {
  top: 2rem;
  right: -10.5rem;
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2.6rem solid #eca922;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #C76B19;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #C76B19;
  -webkit-animation: init-circle-scissors .6s;
          animation: init-circle-scissors .6s;
}

.main-game__circle-scissors:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-game__circle-scissors__scissors-img {
  margin: 1rem .7rem 0 0 !important;
  margin: 1rem .4rem 0 0;
  width: 7.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-game__circle-scissors:hover .main-game__circle-scissors__scissors-img {
  -webkit-animation: img-animation 1s alternate infinite;
          animation: img-animation 1s alternate infinite;
}

.main-game__circle-rock {
  bottom: -7rem;
  right: 5rem;
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2.6rem solid #dd405d;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #9E1631;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #9E1631;
  -webkit-animation: init-circle-rock .6s;
          animation: init-circle-rock .6s;
}

.main-game__circle-rock:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-game__circle-rock__rock-img {
  margin: 1.6rem 0rem 0 0 !important;
  margin: 1rem .4rem 0 0;
  width: 7.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-game__circle-rock:hover .main-game__circle-rock__rock-img {
  -webkit-animation: img-animation 1s alternate infinite;
          animation: img-animation 1s alternate infinite;
}
/*# sourceMappingURL=main.css.map */