/* COLOR VARIABLES */
/*### Primary ####*/
/*### Neutral ###*/
/*### Background ###*/
/* Neon text color */
/* Intial animation for the Circle */
@-webkit-keyframes init-circle-paper {
  0% {
    -webkit-transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}
@keyframes init-circle-paper {
  0% {
    -webkit-transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@-webkit-keyframes init-circle-scissors {
  0% {
    -webkit-transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@keyframes init-circle-scissors {
  0% {
    -webkit-transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
            transform: translate(-16rem, 115px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@-webkit-keyframes init-circle-rock {
  0% {
    -webkit-transform: translateY(-145px) scale(0.1) rotate(360deg);
            transform: translateY(-145px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

@keyframes init-circle-rock {
  0% {
    -webkit-transform: translateY(-145px) scale(0.1) rotate(360deg);
            transform: translateY(-145px) scale(0.1) rotate(360deg);
  }
  100% {
    -webkit-transform: translate() scale(1);
            transform: translate() scale(1);
  }
}

/* End of Intial animation for the Circle */
/* pulse-animation */
@-webkit-keyframes super-pulse {
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes super-pulse {
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/* end of pulse-animation */
/* result circles*/
@-webkit-keyframes init-circle-result {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes init-circle-result {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes result-slide-left {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(-12rem);
            transform: translateX(-12rem);
  }
}

@keyframes result-slide-left {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(-12rem);
            transform: translateX(-12rem);
  }
}

@-webkit-keyframes result-slide-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(11rem);
            transform: translateX(11rem);
  }
}

@keyframes result-slide-right {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(11rem);
            transform: translateX(11rem);
  }
}

@-webkit-keyframes result-announcement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes result-announcement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: radial-gradient(circle, #1f3756, #141539);
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  overflow: hidden;
}

body .container-blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.final {
  text-align: center;
  width: 100%;
  padding: 3.3rem 2.5rem 3.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3.5rem 2.5rem 2rem 2.5rem;
    margin-top: 10rem;
  }
}

.btn-final {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 4rem;
  letter-spacing: .2rem;
  border-radius: 1rem;
  border: 0.3px solid #fff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 800px) {
  .btn-final {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 2rem;
    padding: .8rem 3.5rem;
    font-size: 1.8rem;
  }
}

.btn-final:hover {
  color: #1f3756;
}

.btn-final:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-final::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  background: #fff;
  z-index: 1;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.btn-final:hover::after {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: -1;
}

.attribution {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .attribution {
    font-size: 1.4rem;
  }
}

.attribution a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1;
  line-height: 2.5rem;
}

.attribution a::after {
  padding: 1rem;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: -1;
}

.attribution a:hover {
  color: #1f3756;
}

.attribution a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.heart-footer {
  font-size: 2rem;
  color: #ff6128;
  -webkit-animation: super-pulse infinite .8s;
          animation: super-pulse infinite .8s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 95% 93%;
          transform-origin: 95% 93%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 800px) {
  .modal-overlay {
    -webkit-transform-origin: 51% 88%;
            transform-origin: 51% 88%;
  }
}

/* OPEN/CLOSE MODAL */
.open-modal {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-container {
  color: #1f3756;
  font-size: 3rem;
  text-transform: uppercase;
  background: #fff;
  border-radius: 1rem;
  width: 45rem;
  height: 46rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .modal-container {
    font-size: 2.5rem;
    width: 40rem;
    height: 41rem;
  }
}

@media screen and (max-width: 500px) {
  .modal-container {
    width: 30rem;
    height: 31rem;
    font-size: 2.4rem;
  }
}

.modal-container .modal-top {
  padding: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .modal-container .modal-top {
    padding: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .img-rules {
    width: 75%;
  }
}

.close-btn {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.close-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.scoreboard {
  text-transform: uppercase;
  margin: 5.2rem 0 0 1rem;
  border-radius: 1.8rem;
  border: 0.4rem solid #606e85;
  width: 78.7rem;
  height: 17.2rem;
  padding: 0 2.5rem 0 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .scoreboard {
    width: 49rem;
    height: 12rem;
  }
}

@media screen and (max-width: 500px) {
  .scoreboard {
    width: 30rem;
    height: 9rem;
    border-radius: 1rem;
    margin: 4rem 0 0 .5rem;
    padding: 0 1.5rem;
  }
}

.scoreboard__list {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.scoreboard__list__items {
  color: #fff;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 3.6rem;
  -webkit-animation: neon-text .08s ease-in-out infinite alternate;
          animation: neon-text .08s ease-in-out infinite alternate;
}

@media screen and (max-width: 800px) {
  .scoreboard__list__items {
    font-size: 3.1rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .scoreboard__list__items {
    font-size: 2rem;
    line-height: 2.1rem;
  }
}

.scoreboard__score-display {
  background-color: #fff;
  width: 16.8rem;
  height: 12.8rem;
  border-radius: .86rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.7rem 0 0 .4rem;
  -webkit-animation: neon-box .08s ease-in-out infinite alternate;
          animation: neon-box .08s ease-in-out infinite alternate;
}

@media screen and (max-width: 800px) {
  .scoreboard__score-display {
    width: 12.8rem;
    height: 8.8rem;
    padding: 1.3rem 0 0 .4rem;
  }
}

@media screen and (max-width: 500px) {
  .scoreboard__score-display {
    width: 9.8rem;
    height: 7rem;
    padding: 1rem 0 0 .4rem;
  }
}

.scoreboard__score-display__text {
  letter-spacing: .17rem;
  font-size: 2rem;
  text-align: center;
  color: #2a46c0;
}

@media screen and (max-width: 800px) {
  .scoreboard__score-display__text {
    font-size: 1.5rem;
  }
}

.scoreboard__score-display__text span {
  display: block;
  font-size: 7rem;
  color: #3b4363;
  margin-top: -.8rem;
}

@media screen and (max-width: 800px) {
  .scoreboard__score-display__text span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .scoreboard__score-display__text span {
    font-size: 3.5rem;
  }
}

.main-section {
  position: relative;
  height: 56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .main-section {
    height: 45rem;
  }
}

@media screen and (max-width: 500px) {
  .main-section {
    height: 30rem;
  }
}

.main-game {
  position: absolute;
  padding: 5rem 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 500px) {
  .main-game {
    padding: 2rem 0;
  }
}

.main-game__container {
  position: relative;
}

.main-game__triangle {
  width: 32rem;
  height: 30rem;
  margin: 12rem 0 0 1rem;
}

@media screen and (max-width: 800px) {
  .main-game__triangle {
    width: 26rem;
    height: 24rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__triangle {
    width: 20rem;
    height: 18rem;
    margin-left: 0;
  }
}

.main-game__circle-paper {
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: 2rem;
  left: -9.5rem;
  border: 2.4rem solid #5671f5;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #2945C1;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #2945C1;
  background: #fff url("../images/icon-paper.svg") no-repeat center;
  background-size: 7.5rem;
  -webkit-animation: init-circle-paper .8s;
          animation: init-circle-paper .8s;
}

@media screen and (max-width: 800px) {
  .main-game__circle-paper {
    width: 19rem;
    height: 19rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-paper {
    width: 13rem;
    height: 13rem;
  }
}

.main-game__circle-paper:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .main-game__circle-paper {
    border: 2.5rem solid #5671f5;
    -webkit-box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #2945C1;
            box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #2945C1;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-paper {
    top: 5rem;
    left: -4rem;
    border: 1.8rem solid #5671f5;
    background-size: 5.5rem;
  }
}

.main-game__circle-scissors {
  top: 2rem;
  right: -10.5rem;
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 2.6rem solid #eca922;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #C76B19;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #C76B19;
  background: #fff url("../images/icon-scissors.svg") no-repeat center;
  background-size: 7.5rem;
  -webkit-animation: init-circle-scissors .8s;
          animation: init-circle-scissors .8s;
}

@media screen and (max-width: 800px) {
  .main-game__circle-scissors {
    width: 19rem;
    height: 19rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-scissors {
    width: 13rem;
    height: 13rem;
  }
}

.main-game__circle-scissors:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .main-game__circle-scissors {
    border: 2.5rem solid #eca922;
    -webkit-box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #C76B19;
            box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #C76B19;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-scissors {
    top: 5rem;
    right: -5rem;
    border: 1.8rem solid #eca922;
    background-size: 5.5rem;
  }
}

.main-game__circle-rock {
  bottom: -7rem;
  right: 5rem;
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 2.6rem solid #dd405d;
  -webkit-box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #9E1631;
          box-shadow: 0px 11px 0px -3px #CCD0DB inset, 0 9px 0 0 #9E1631;
  background: #fff url("../images/icon-rock.svg") no-repeat center;
  background-size: 7.5rem;
  -webkit-animation: init-circle-rock .8s;
          animation: init-circle-rock .8s;
}

@media screen and (max-width: 800px) {
  .main-game__circle-rock {
    width: 19rem;
    height: 19rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-rock {
    width: 13rem;
    height: 13rem;
  }
}

.main-game__circle-rock:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 800px) {
  .main-game__circle-rock {
    border: 2.5rem solid #dd405d;
    -webkit-box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #9E1631;
            box-shadow: 0px 9px 0px -3px #CCD0DB inset, 0 7px 0 0 #9E1631;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .main-game__circle-rock {
    bottom: -4rem;
    right: 3.5rem;
    border: 1.8rem solid #dd405d;
    background-size: 5.5rem;
  }
}

.show-main {
  -webkit-transform: translate(-300rem);
          transform: translate(-300rem);
}

.show-result {
  -webkit-transform: translateX(0rem) !important;
          transform: translateX(0rem) !important;
}

.result {
  -webkit-transform: translateX(300rem);
          transform: translateX(300rem);
  display: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 32rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 800px) {
  .result {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .result {
    width: 80%;
    margin-top: -5rem;
    padding: 0px 11rem;
  }
}

.player-picked {
  margin-top: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 8rem;
  text-transform: uppercase;
  -webkit-transform: translate(-12rem);
          transform: translate(-12rem);
}

.player-picked__heading {
  font-size: 2.6rem;
  letter-spacing: .3rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .player-picked__heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .player-picked__heading {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.2rem;
  }
}

.announcement {
  width: 25rem;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .announcement {
    position: absolute;
    bottom: -10rem;
  }
}

@media screen and (max-width: 500px) {
  .announcement {
    bottom: -7rem;
  }
}

.announcement__heading {
  font-size: 2.6rem;
  letter-spacing: .3rem;
  color: #fff;
  text-align: center;
  font-size: 6rem;
  margin-bottom: .7rem;
}

@media screen and (max-width: 800px) {
  .announcement__heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .announcement__heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .announcement__heading {
    font-size: 3.5rem;
  }
}

.announcement__btn {
  font-size: 2rem;
  border: 0.34rem #fff solid;
  border-radius: 1rem;
  padding: 1.4rem 4rem;
  color: #1f3756;
  background: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.announcement__btn__hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.announcement__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 1150px) {
  .announcement__btn {
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .announcement__btn {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 500px) {
  .announcement__btn {
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
  }
}

.house-picked {
  margin-top: 8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 8rem;
  text-transform: uppercase;
  -webkit-transform: translate(11rem);
          transform: translate(11rem);
}

.house-picked__heading {
  font-size: 2.6rem;
  letter-spacing: .3rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .house-picked__heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .house-picked__heading {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.2rem;
  }
}

.announcement-magic {
  -webkit-animation: result-announcement 0.5s ease 2s backwards;
          animation: result-announcement 0.5s ease 2s backwards;
}

.player-magic-init {
  -webkit-animation: result-slide-left 0.5s 2s backwards;
          animation: result-slide-left 0.5s 2s backwards;
}

@media screen and (max-width: 1150px) {
  .player-magic-init {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 800px) {
  .player-magic-init {
    tranform: transateX(-4rem);
    width: 21rem;
  }
}

@media screen and (max-width: 500px) {
  .player-magic-init {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}

.computer-magic-init {
  -webkit-animation: result-slide-right 0.5s ease 2s backwards;
          animation: result-slide-right 0.5s ease 2s backwards;
}

@media screen and (max-width: 1150px) {
  .computer-magic-init {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 800px) {
  .computer-magic-init {
    tranform: transateX(2rem);
    width: 21rem;
  }
}

@media screen and (max-width: 500px) {
  .computer-magic-init {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.paper-magic {
  margin: 7rem 0 5rem 0;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: realtive;
  background: #fff url("../images/icon-paper.svg") no-repeat center;
  -webkit-box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #2945C1;
          box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #2945C1;
  border: 3.5rem solid #5671f5;
  -webkit-animation: init-circle-result .5s 1s backwards;
          animation: init-circle-result .5s 1s backwards;
  background-size: 10rem;
}

@media screen and (max-width: 1150px) {
  .paper-magic {
    width: 25rem;
    height: 25rem;
    border-size: 2.8rem !important;
    background-size: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .paper-magic {
    width: 20rem;
    height: 20rem;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .paper-magic {
    width: 12rem;
    height: 12rem;
    margin: 2rem 0;
    background-size: 4.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .paper-magic {
    -webkit-box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #2945C1;
            box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #2945C1;
    border: 3rem solid #5671f5;
  }
}

@media screen and (max-width: 800px) {
  .paper-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #2945C1;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #2945C1;
  }
}

@media screen and (max-width: 500px) {
  .paper-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #2945C1;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #2945C1;
    border: 1.5rem solid #5671f5;
  }
}

.rock-magic {
  margin: 7rem 0 5rem 0;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: realtive;
  background: #fff url("../images/icon-rock.svg") no-repeat center;
  -webkit-box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #9E1631;
          box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #9E1631;
  border: 3.5rem solid #dd405d;
  -webkit-animation: init-circle-result .5s 1s backwards;
          animation: init-circle-result .5s 1s backwards;
  background-size: 10rem;
}

@media screen and (max-width: 1150px) {
  .rock-magic {
    width: 25rem;
    height: 25rem;
    border-size: 2.8rem !important;
    background-size: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .rock-magic {
    width: 20rem;
    height: 20rem;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .rock-magic {
    width: 12rem;
    height: 12rem;
    margin: 2rem 0;
    background-size: 4.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .rock-magic {
    -webkit-box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #9E1631;
            box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #9E1631;
    border: 3rem solid #dd405d;
  }
}

@media screen and (max-width: 800px) {
  .rock-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #9E1631;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #9E1631;
  }
}

@media screen and (max-width: 500px) {
  .rock-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #9E1631;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #9E1631;
    border: 1.5rem solid #dd405d;
  }
}

.scissors-magic {
  margin: 7rem 0 5rem 0;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: realtive;
  background: #fff url("../images/icon-scissors.svg") no-repeat center;
  -webkit-box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #C76B19;
          box-shadow: 0px 15px 0px -3px #CCD0DB inset, 0 13px 0 0 #C76B19;
  border: 3.5rem solid #eca922;
  -webkit-animation: init-circle-result .5s 1s backwards;
          animation: init-circle-result .5s 1s backwards;
  background-size: 10rem;
}

@media screen and (max-width: 1150px) {
  .scissors-magic {
    width: 25rem;
    height: 25rem;
    border-size: 2.8rem !important;
    background-size: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .scissors-magic {
    width: 20rem;
    height: 20rem;
    background-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .scissors-magic {
    width: 12rem;
    height: 12rem;
    margin: 2rem 0;
    background-size: 4.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .scissors-magic {
    -webkit-box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #C76B19;
            box-shadow: 0px 13px 0px -3px #CCD0DB inset, 0 11px 0 0 #C76B19;
    border: 3rem solid #eca922;
  }
}

@media screen and (max-width: 800px) {
  .scissors-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #C76B19;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 8px 0 0 #C76B19;
  }
}

@media screen and (max-width: 500px) {
  .scissors-magic {
    -webkit-box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #C76B19;
            box-shadow: 0px 10px 0px -3px #CCD0DB inset, 0 7px 0 0 #C76B19;
    border: 1.5rem solid #eca922;
  }
}
/*# sourceMappingURL=main.css.map */